@mixin input_field {
  width: 100%;
  padding: 4px 9px;
  border-radius: 40px;
  font-size: 1.05rem;
  color: #111;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid #ccc;
  letter-spacing: 0.4px;
  outline: none;
  transition: all 0.28s;
  &:hover {
    background: rgba(255, 255, 255, 0.7);
  }
  &:focus {
    background: rgba(255, 255, 255, 0.9);
    border-color: #1e90ff;
  }
}

.login_section {
  height: 100vh;
  width: 100%;
  background: url('../images/blue-wave.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
  .center_box {
    width: 340px;
    padding: 1.4rem;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    .input_row {
      padding: 0.4rem 0;
      label {
        font-size: 1.1rem;
        margin-bottom: 6px;
      }
      input {
        @include input_field;
      }
      button {
        width: 100%;
        border-radius: 40px;
        border: none;
        outline: none;
        font-size: 1.1rem;
        color: #fff;
        background: #1e90ff;
        padding: 0.4rem 0;
        margin: 0.4rem 0;
        transition: all 0.28s;
        &:hover {
          background: #419bf5;
        }
      }
    }
    p.msg {
      margin-bottom: 0;
    }
    .redirect {
      font-size: 1.1rem;
      a {
        text-decoration: none;
        color: #1e90ff;
      }
    }
  }
}

.signup_section .center_box {
  width: 700px;
  .signup_row {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    input {
      @include input_field;
      border-radius: 7px;
    }
  }
  .redirect {
    font-size: 1.1rem;
    a {
      text-decoration: none;
      color: #1e90ff;
    }
  }
}
